body{
	margin: 0px;
	background-color: #eeeeee;
	/*position: relative;*/
}
.red{
	background-color: #b60915;
	width: 100%;
	box-shadow: none;
}
.white{
	color: white;
}
.header-timer{
	float: left;
	/*margin-left: 10px;*/
	width: 80px;
	height: 40px;
	line-height: 20px;
	margin-top: 2px;
	font-size: 14px;
	color: #ffee46;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.header-title{
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.nav-right{
	float: right;
	color: white;
	font-weight: bold;
}
.content{
	padding-top: 44px;
}
/* tab */

.nav {
	background: #f2f5f5;
	border-top: solid 1px #c2c2c2;
}

.mui-bar-tab .mui-tab-item {
	height: auto !important;
}

.nav .line {
	height: 5px;
}

.nav .line div {
	width: 25%;
	float: left;
	height: 5px;
}

.nav nav {
	margin-top: 4px;
}

.nav .mui-tab-label {
	font-size: 12px;
}

.nav a .icon {
	display: block;
	width: 24px;
	margin: 0px auto;
	height: 24px;
}

.nav a .icon-home {
	background: url(../images/home.png) no-repeat;
	background-size: cover;
}

.nav a .icon-maicai {
	background: url(../images/lanzi.png) no-repeat;
	background-size: cover;
}

.nav a .icon-shenqi {
	background: url(../images/tliwu.png) no-repeat;
	background-size: cover;
}

.nav a .icon-me {
	background: url(../images/me.png) no-repeat;
	background-size: cover;
}
.nav a .icon-share {
	background: url(../images/share.png) no-repeat;
	background-size: cover;
}
.nav a.mui-active .icon-home {
	background: url(../images/home-active.png) no-repeat;
	background-size: cover;
}

.nav a.mui-active .icon-maicai {
	background: url(../images/lanzi-active.png) no-repeat;
	background-size: cover;
}

.nav a.mui-active .icon-shenqi {
	background: url(../images/tliwu-active.png) no-repeat;
	background-size: cover;
}

.nav a.mui-active .icon-me {
	background: url(../images/me-active.png) no-repeat;
	background-size: cover;
}
.nav a.mui-active .icon-share {
	background: url(../images/share-active.png) no-repeat;
	background-size: cover;
}

.nav a.mui-active .mui-tab-label {
	color: #b50b13;
}

.nav.mui-bar {
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, .85);
	box-shadow: 0 0 0px rgba(0, 0, 0, .85);
}

#close{
	position: absolute;
	width: 160px;
	height: 44px;
	line-height: 44px;
	left: 50%;
	margin-left: -80px;
	padding: 0px;
	bottom: 40px;
	color: white;
	font-size: 20px;
	border-color: white;
	border: 1px solid white;
	border-radius: 3px;
	background-color: transparent;
}
img {
	width: 100%;
	height: 100%;
}

