<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../js/swiper-3.4.0.min.js" ></script>
		<link rel="stylesheet" href="../css/swiper-3.4.0.min.css" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/home.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<!-- 引用MUI的js只是为了修改状态栏颜色 -->
		<script type="text/javascript" src="../js/mui.js" ></script> 
		<script type="text/javascript" href="../js/flexible.js" ></script>
		<title>家乐宝</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav red">
			<div class="header-timer">12:30前下单当日送达</div>
			<h1 class="mui-title header-title">家乐宝</h1>
			<div class="mui-icon mui-icon-search nav-right"></div>
		</header>
		<div class="mui-scroll-wrapper content">
			<div class="mui-scroll">
			<!--这里放置真实显示的DOM内容-->
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">
				        	<img src="../images/banner.gif" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="../images/banner.gif" />
				        </div>
				        <div class="swiper-slide">
				        	<img src="../images/banner.gif" />
				        </div>
				    </div>
				    <!-- 如果需要分页器 -->
				    <div class="swiper-pagination"></div>
				</div>
				<div class="recommend">
					<img src="../images/tuijian.gif" />
					<span>黑胡椒牛排10片装今日特价仅需89元</span>
				</div>
				<div class="type-list">
					<div class="type">
						<img src="../images/youhui.png" />
						<span>优惠团购</span>
					</div>
					<div class="type">
						<img src="../images/charge.png" />
						<span>账户充值</span>
					</div>
					<div class="type">
						<img src="../images/liwu.png" />
						<span>分享有礼</span>
					</div>
					<div class="type">
						<img src="../images/fuli.png" />
						<span>企业福利</span>
					</div>
				</div>
				<div class="welfare">
					<img src="../images/UI_08.gif" />
				</div>
				<!-- 每日精选 -->
				<div class="today-select">
					<div class="today-select-title">
						<h3>今日精选</h3>
						<span>限时优惠 放价促销</span>
					</div>
					<div class="today-select-orange">
						<img src="../images/UI_10.gif" />
					</div>
					<div class="today-select-list">
						<div class="today-select-list-type right-line bottom-line">
							<img src="../images/baicai.png" />
							<p>本地白菜</p>
							<label>2.80元/<span>1斤</span></label>
						</div>
						<div class="today-select-list-type bottom-line">
							<img src="../images/banana.png" />
							<p>国产香蕉</p>
							<label>9.50元/<span>3斤</span></label>
						</div>
						<div class="today-select-list-type right-line">
							<img src="../images/jitui.png" />
							<p>鸡小腿</p>
							<label>8.90元/<span>1斤1两</span></label>
						</div>
						<div class="today-select-list-type">
							<img src="../images/jiangyou.png" />
							<p>醇香拿铁</p>
							<label>68.00元/<span>1箱*15瓶</span></label>
						</div>
					</div>
				</div>
				<!-- 送礼神器 -->
				<div class="gift-artifact">
					<div class="today-select-title">
						<h3>送礼神器</h3>
						<span>过年过节 送礼必备</span>
					</div>
					<div class="today-select-orange">
						<img src="../images/UI_12.gif" />
					</div>
					<div class="gift-artifact-list">
						<div class="gift-artifact-list-left">
							<div class="gift-artifact-list-left-top bottom-line">
								<img src="../images/zaliang.png" />
								<p>艾谷杂粮礼盒</p>
								<label>128元/<span>10种品类</span></label>
							</div>
							<div class="gift-artifact-list-left-top">
								<img src="../images/UI_18.gif" />
								<p>五粮液52度</p>
								<label>829元/<span>500ml</span></label>
							</div>
						</div>
						<div class="gift-artifact-list-right">
							<p>全家福礼盒</p>
							<label>101元/<span>7种品类</span></label>
							<img src="../images/UI_15.gif" />
							<div>产品图片仅供参考 以配送实物为准</div>
						</div>
					</div>
				</div>
				<!-- 人气爆款 -->
				<div class="today-select">
					<div class="today-select-title">
						<h3>人气爆款</h3>
						<span>点赞无数 剁手抢购</span>
					</div>
					<div class="today-select-orange">
						<img src="../images/UI_22.gif" />
					</div>
					<div class="today-select-list">
						<div class="today-select-list-type right-line bottom-line">
							<img src="../images/UI_25.gif" />
							<p>新奇士脐橙</p>
							<label>26.80元/<span>1盒4个</span></label>
						</div>
						<div class="today-select-list-type bottom-line">
							<img src="../images/UI_27.gif" />
							<p>双汇猪小排</p>
							<label>15.90元/<span>1斤</span></label>
						</div>
						<div class="today-select-list-type right-line">
							<img src="../images/UI_28-31.gif" />
							<p>土鸡蛋</p>
							<label>9.80元/<span>1盒12枚</span></label>
						</div>
						<div class="today-select-list-type">
							<img src="../images/UI_30-32.gif" />
							<p>小娃娃菜</p>
							<label>6.80元/<span>1袋*3颗</span></label>
						</div>
					</div>
				</div>
				<!-- 猜你喜欢 -->
				<div class="today-select">
					<div class="today-select-title">
						<h3>猜你喜欢</h3>
						<span>总有一款适合你</span>
					</div>
					<div class="today-select-orange">
						<img src="../images/UI_35.gif" />
					</div>
					<div class="today-select-list">
						<div class="today-select-list-type right-line bottom-line">
							<img src="../images/UI_38.gif" />
							<p>泰国龙眼</p>
							<label>12.50元/<span>1斤</span></label>
						</div>
						<div class="today-select-list-type bottom-line">
							<img src="../images/UI_40.gif" />
							<p>儿童牛排</p>
							<label>9.90元/<span>1袋80克</span></label>
						</div>
						<div class="today-select-list-type right-line">
							<img src="../images/UI_41-44.gif" />
							<p>一翻风顺</p>
							<label>18.00元/<span>1盒送托盘</span></label>
						</div>
						<div class="today-select-list-type">
							<img src="../images/UI_45.png" />
							<p>露露核桃露</p>
							<label>81.90元/<span>1箱*12罐</span></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-top"></div>
	</body>
	<script>   
		var mySwiper = new Swiper ('.swiper-container', {
//		    direction: 'vertical',
		    loop: true,
		    autoplay: 1000,
		    autoplayDisableOnInteraction: false,
		    // 如果需要分页器
		    pagination: '.swiper-pagination', 
		}) 
		var scrollTop = document.querySelector('.scroll-top');

		mui.plusReady(function(){
			// 隐藏滚动条
//			plus.webview.currentWebview().setStyle({
//				scrollIndicator: 'none'
//			});
			scrollTop.style.display = "none";
		})
		mui('.mui-scroll-wrapper').scroll({
			 scrollY: true, //是否竖向滚动
			 scrollX: false, //是否横向滚动
			 startX: 0, //初始化时滚动至x
			 startY: 0, //初始化时滚动至y
			 indicators: true, //是否显示滚动条
			 deceleration:0.0004, //阻尼系数,系数越小滑动越灵敏
			 bounce: true //是否启用回弹
		})
		document.querySelector('.mui-scroll-wrapper').addEventListener('scroll',function(e){
//			console.log(e.detail.y); // 打印当前滚动的Y坐标
			if (e.detail.y < -100) {
				scrollTop.style.display = "block";
			} else{
				scrollTop.style.display = "none";
			}
		})
		scrollTop.addEventListener('tap',function(){
//			console.log("回顶部");
			mui('.mui-scroll-wrapper').scroll().scrollTo(0,0,300);//300毫秒滚动到顶
		})
	</script>
</html>
